@font-face{
    src: url('../fonts/NanumBarunGothicUltraLight.ttf');
    font-family: 'nanum-gothic';
}


body{
    margin: 0;
    font-family: 'nanum-gothic';

    
}

header{
    padding: 1rem;
}

#intro{
    color: aquamarine;
}

#logo{
    width: 12rem;
    margin-top: 0.5rem;
    margin-left: 4rem;
    height: auto;
}

#LoginMenu{
    display: inline-block;
    float: right;
    margin-top: 2rem;
    margin-right: 2rem;
}

#LoginMenu a{
    display: inline-block;
    text-decoration: none;
    margin: 0 0.5rem;
    width: 4rem;
    text-align: center;
    font-size: 1rem;
    border: 2px solid #11a7dc;
    border-radius: 0.5rem;
    color: #11a7dc;
    padding: 0.7rem;
    font-weight: bold;
}

#LoginMenu a:hover{
    background-color: #11a7dc;
    color: #fff;
}

#hotissuebar{
    margin: 0;
    display: inline-block;
    border: 2px solid #11a7dc;
    color: #11a7dc;
    font-size: 1rem;
    padding: 0.7rem;
    width: 35rem;
    overflow-x: hidden;
    margin-left: 7rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

#weather{
    display: inline-block;
    margin-left: 3rem;
    text-align: center;
}

#weather i{
    font-size: 2rem;
    margin-right: 1rem;
    color: #d5d5d5;
}

#weather span:nth-child(3),#weather span:nth-child(4){
    display: block;
}

hr{
    width: 88rem;
    border-color: #11c7ff;
    margin-top: 2rem;
}

ul{
    padding: 0;
    list-style: none;
    text-align: center;
    width: 15rem;
    border: 2px solid #f0c419;
    margin: 0 0 0 3rem;
    height: auto;
    float: left;
}

ul li{
    font-size: 1.2rem;
    padding: 1rem;
    background-color: #f0c419;
}

ul a{
    padding: 2rem 0;
    text-decoration: none;
    color: #fff;
}

ul a:hover li{
    background-color: #fff;
    color: #f0c419;
}

#sliderBlock{
    display: inline-block;
    overflow: hidden;
}

#sliderBlock span{
    position: relative;
    right: 4rem;
    bottom: 1rem;
    margin: 0 0.2rem;
}

#imageSlider {
    display: inline-block;
    height: 25rem;
    width: 45rem;
    margin-left: 5rem;
    /*margin-bottom: 12rem;*/
    background-size: cover;
    overflow: hidden;
    float: left;
}

.meal{
    display: inline-block;
    width: 211px;
    overflow: hidden;
    height: 384px;
    border-radius: 10px;
    border: 1px solid #f0c419;
    
}



.meal h3{
    text-align: center;
    font-size: 1.4rem;
    padding: 10px 10px;
    border-style: none;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #f0c419;
    font-weight: bold;
    color: white;
    
}

.meal hr{
    width: 80%;
    margin: 0;
    background: #c5c5c5;
    border-color: #c5c5c5; 
    height: 4px;
}
.meals{
    margin-left: 1em;
    text-align: left;
    margin-top: 1em;
    font-size: 1.3em;
    color: #838688; 
    line-height: 1.6em;
    font-weight: bold;
}

.lunchimg{
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}


.highlighter{
    display: inline-block;
    border: 0.3px solid #d5d5d5;
    width: 13.23rem;
    float: left;
    margin-left: 3.6rem;
    margin-top: 1rem;
}


/*.highlighter:nth-child(3n-2){
    margin-left: rem;
}*/

.highlighter h3{
    text-align: left;
    font-size: 1.2rem;
    padding: 0.4rem 1rem;
    border-style: none;
    margin: 0;
}

.highlighter hr{
    width: 80%;
    margin: 0;
    background: #c5c5c5;
    border-color: #c5c5c5; 
    height: 4px;
}
.highlighter ul{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0.2px solid #d5d5d5;
}

.highlighter li{
    background: #fff;
    border-style: none;
    border-bottom: 0.2px solid #a5a5a5;
    font-size: 0.8rem;
    text-align: left;   
    padding: 0.2rem;
}
.highlighter li::before{
    content: " - "
}
/* 
----------------------- */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
#PostDetails{
}

#cardContent{

}

#searchForm{
    float: right;
    margin-top: 0.5rem;
}

#content{
    width: 60em;
    height: 10%;
    
}

.highText{
    font-family: "Nanum Gothic", sans-serif;
    font-size: 2em;
    color: #8A8C8F;
}

.underLine{
    height: 1px;
    background-color: #8A8C8F;
}



.search{
    font-family: "Nanum Gothic", sans-serif;
    -webkit-appearance:textfield;
    box-sizing: content-box;
    height: 2.5em;
    width: 30em;
}
.searchButt{
    float: right;
    height: 3em;
    width: 3rem;
    background-color: white;
    border: 0.1px solid #8A8C8F;
    outline: none;
}

.type{
    font-family: "Nanum Gothic", sans-serif;
    display: inline-block;
    color: #828587;
    padding: 3em;

}

input[id="projectCheck"] + label {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #bcbcbc;
  cursor: pointer;
  position: relative;
  top: 2px;
  
}

input[id="projectCheck"]:checked + label:after {
  content: '\2714';
  font-size: 14px;
  padding: none;
  color: green;
}

input[id="projectCheck"] {
  display: none;
}

input[id="clubCheck"] + label {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #bcbcbc;
  cursor: pointer;
  position: relative;
  top: 2px;
  
}

input[id="clubCheck"]:checked + label:after {
  content: '\2714';
  font-size: 14px;
  padding: none;
  color: green;
}

input[id="clubCheck"] {
  display: none;
}

input[id= "writeButton"]{
    float: right;
    font-size: 5em;
}


.users{
    float: left;
    padding: 1em;
    position: relative;
    top: 1.5em;
    left: 2em;
}


.topdetails{
    border: 1px solid black;
    border-bottom: none;
    height: 4em;
}
.cardType{
    font-family: "Nanum Gothic", sans-serif;
    color: #219AC7;
    position: relative;
    top: 1em;
    padding: 1em;
    font-size: 1.1em;
}

.card{
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
    display: inline-block;

}

.title{
    position: relative;
    top: 0.7em;
    font-size: 1.8em;
    color: #8E9092;
}

.details{
    background-color: #D6EFF7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 8em;
}

.userscount{
    font-family: "Nanum Gothic", sans-serif;
    font-size: 2em;
    color: #229FC7;
  
}

.others{
position: relative;
padding: 2em;
padding-left: 5em;
display: inline-block;
}

.majorDiv{
    font-family: "Nanum Gothic", sans-serif;
    font-size: 1.2em;
    color: #229FC7;
    margin-bottom: 0.5em;
    display: inline-block;
}

.optionDiv{
font-family: "Nanum Gothic", sans-serif;
    font-size: 1.2em;
    color: #229FC7;
}


